@font-face {
font-family: 'KoratakiBold';
src:url(korataki_bold.otf)
}

body {
background: url('bgnettside.jpg') no-repeat;
background-size: cover
background-position: center
}

.header-main {
width: 100%;
height: 60px;
background-color: white;
display: flex;
justify-content: space-between;
}

a {
cursor: pointer;
}

.header-main-logo {
width: fit-content;
height: 100%;
background-color: white;
padding-left: 60px;
display: flex;
}

.header-main-logo img {
height: 140px;
align-self: center;
}

.header-main-nav {
width: fit-content;
height: 100%;
background-color: white;
}

.header-main-nav ul {
list-style: none;
}

.header-main-nav ul li {
display: inline;
float: left;
margin-left: 30px;
position: relative;

}
 .header-main-nav ul li a{
display: block;
padding: 0 10px 0 10px;
font-family: 'KoratakiBold';
text-decoration: none;
line-height: 30px;
color: black;
}

.header-main-pougelandia {
width: fit-content;
height: 100%;
background-color: white;
padding-right: 60px;
display: flex;
}

.header-main-pougelandia img {
height: 140px;
align-self: center;
}

.NR1 {
font-family: 'KoratakiBold';
font-size: 50px;
}

.Introduksjon {
font-family: 'KoratakiBold';
font-size: 30px;
}

.container {
display: flex;
margin-bottom: 50px;
}

#best {
height: 1000px;
width: 525px;
}

.Tekstboks {
display: flex;
justify-content: center;
height: 100vh;
background-color: white;
float: center;
}

.kortsagt {
font-family: 'KoratakiBold';
border: 5px solid #005c82;
background-color: #70d5ff;
padding: 20px;
border-radius: 10px;
color: white;
width: 1000px;
height: 750px;
text-align: center;
font-size: 32px;
}

.kortsagt {
text-shadow: 3px 3px 0px rgba(0, 0, 0, 1);
}

#Hjem {
height: 990px;
width: 1497px;
}

#Kildare {
height: 990px;
display: block;
}


